# Lists
- List is a sequence of values
- Sequence is an ordered collection
- Lists will be enclosed by []
- values can be numbers, strings, or any objects
- A List can have only strings, only numbers, only objects, or mix of all three --> Mixed List
- Lists are Mutable
# Set
- Set is a collection of values
- Set is an unordered collection
- Sets will be enclosed by {}
# Tuples
- Tuple is also an ordered collection
- Tuples will be enclosed by ()
- Tuples are Immutable 
- Examples: (NAME, DOB, ADDRESS, PHONE, PAN_NUMBER, ADHAR_NUMBER, ACCOUNT_NUMBER) - Tuple
- Examples: (NAME, ADHAR, PASSBOOK, OLDNUMBER, NEWNUMBER)
- Will be usefull in databases
# Mutability
- If any data structure can be changed then that particular data structure is called mutable data structure
- If any data structure cannot be changes then that particular data structure is called immutable data structure

In [16]:
students = []

In [17]:
students = ["A","B","C","D","E","F"]

In [19]:
# ---> For a position p an index will be i = p-1
students[2]

'C'

In [20]:
# ---> Slice from position p1 to position p2
# ---> list[start_index:end_position]
# ---> start_index = p1-1
# ---> end_position = p2
# ---> In students list out or slice out students from 2nd position to end:

students[1:4]

['B', 'C', 'D']

In [21]:
students[1:]

['B', 'C', 'D']

# Len()
- Length function will give you the length of the collection
- Collection can be string, list, set, tuple, other object

In [22]:
len(students)

4

In [23]:
name = "Tharun Kumar"

In [24]:
len(name)

12

In [26]:
# To add an element or a value in existing list we will use append function
# append function will add a value at the last
# insert function will add a value at desired location

In [27]:
students

['A', 'B', 'C', 'D']

In [37]:
students.append('E')

In [39]:
students

['A', 'B', 'Z', 'C', 'D', 'E', 'E']

In [30]:
students.insert(2,'Z')

In [31]:
students

['A', 'B', 'Z', 'C', 'D', 'E']

In [34]:
students.index('D')

4

In [40]:
students.count('E')

2

In [52]:
students

['A', 'B', 'Z', 'C', 'Y', 'E', 'E']

In [53]:
students[4] = 'X'

In [54]:
students

['A', 'B', 'Z', 'C', 'X', 'E', 'E']

In [61]:
students.remove('C') # Remove function remove or delete an element which occurs first

In [66]:
students.remove(students[3])

In [67]:
students

['A', 'B', 'Z', 'E']

In [59]:
help(students.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [56]:
students

['A', 'B', 'Z', 'C', 'X', 'E']

In [43]:
students[4] = 'Y' #Lists are mutable

In [44]:
students

['A', 'B', 'Z', 'C', 'Y', 'E', 'E']

In [45]:
students_tuple = ('A','B','C','D')

In [51]:
students_tuple

('A', 'B', 'C', 'D')

In [49]:
students_tuple[3] = 'Y' # We will get error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [68]:
# Remove duplicates in a list

In [69]:
# Find unique names in the class

In [70]:
names = ["Raj","Raj","Rani","Laxmi","Tharun","Tharun","Pavan","Pravalika","Sai"]

In [71]:
print(set(names))

{'Pavan', 'Raj', 'Sai', 'Rani', 'Tharun', 'Pravalika', 'Laxmi'}

In [5]:
students

[]

In [6]:
students.append("Pravalika")

In [7]:
students

['Pravalika']

In [8]:
students.append("Pavan")

In [9]:
students

['Pravalika', 'Pavan']

In [10]:
students.append(99669966990)

In [11]:
students

['Pravalika', 'Pavan', 99669966990]

In [12]:
students_rank = ["Pravalika","Pavan","Somu","Maha","Arun","Jayanth","Ooha","Laxmi"]

In [13]:
students = {"Pravalika","Pavan","Somu","Maha","Arun","Jayanth","Ooha","Laxmi"}

In [14]:
input1 = 0

In [15]:
input2

NameError: name 'input2' is not defined