# Lists
- List is a sequence of values
- Sequence is an ordered collection
- Lists will be enclosed by []
- values can be numbers, strings, or any objects
- A List can have only strings, only numbers, only objects, or mix of all three --> Mixed List
- Lists are Mutable
- List is also an iterable object
# Set
- Set is a collection of values
- Set is an unordered collection
- Sets will be enclosed by {}
# Tuples
- Tuple is also an ordered collection
- Tuples will be enclosed by ()
- Tuples are Immutable 
- Examples: (NAME, DOB, ADDRESS, PHONE, PAN_NUMBER, ADHAR_NUMBER, ACCOUNT_NUMBER) - Tuple
- Examples: (NAME, ADHAR, PASSBOOK, OLDNUMBER, NEWNUMBER)
- Will be usefull in databases
- Tuple is also an iterable object
# Mutability
- If any data structure can be changed then that particular data structure is called mutable data structure
- If any data structure cannot be changes then that particular data structure is called immutable data structure

In [16]:
students = []

In [17]:
students = ["A","B","C","D","E","F"]

In [19]:
# ---> For a position p an index will be i = p-1
students[2]

'C'

In [20]:
# ---> Slice from position p1 to position p2
# ---> list[start_index:end_position]
# ---> start_index = p1-1
# ---> end_position = p2
# ---> In students list out or slice out students from 2nd position to end:

students[1:4]

['B', 'C', 'D']

In [21]:
students[1:]

['B', 'C', 'D']

# Len()
- Length function will give you the length of the collection
- Collection can be string, list, set, tuple, other object

In [22]:
len(students)

4

In [23]:
name = "Tharun Kumar"

In [24]:
len(name)

12

In [26]:
# To add an element or a value in existing list we will use append function
# append function will add a value at the last
# insert function will add a value at desired location

In [27]:
students

['A', 'B', 'C', 'D']

In [37]:
students.append('E')

In [39]:
students

['A', 'B', 'Z', 'C', 'D', 'E', 'E']

In [30]:
students.insert(2,'Z')

In [31]:
students

['A', 'B', 'Z', 'C', 'D', 'E']

In [34]:
students.index('D')

4

In [40]:
students.count('E')

2

In [52]:
students

['A', 'B', 'Z', 'C', 'Y', 'E', 'E']

In [53]:
students[4] = 'X'

In [54]:
students

['A', 'B', 'Z', 'C', 'X', 'E', 'E']

In [61]:
students.remove('C') # Remove function remove or delete an element which occurs first

In [66]:
students.remove(students[3])

In [67]:
students

['A', 'B', 'Z', 'E']

In [59]:
help(students.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [56]:
students

['A', 'B', 'Z', 'C', 'X', 'E']

In [43]:
students[4] = 'Y' #Lists are mutable

In [44]:
students

['A', 'B', 'Z', 'C', 'Y', 'E', 'E']

In [45]:
students_tuple = ('A','B','C','D')

In [51]:
students_tuple

('A', 'B', 'C', 'D')

In [49]:
students_tuple[3] = 'Y' # We will get error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [68]:
# Remove duplicates in a list

In [69]:
# Find unique names in the class

In [70]:
names = ["Raj","Raj","Rani","Laxmi","Tharun","Tharun","Pavan","Pravalika","Sai"]

In [71]:
print(set(names))

{'Pavan', 'Raj', 'Sai', 'Rani', 'Tharun', 'Pravalika', 'Laxmi'}

In [5]:
students

[]

In [6]:
students.append("Pravalika")

In [7]:
students

['Pravalika']

In [8]:
students.append("Pavan")

In [9]:
students

['Pravalika', 'Pavan']

In [10]:
students.append(99669966990)

In [11]:
students

['Pravalika', 'Pavan', 99669966990]

In [12]:
students_rank = ["Pravalika","Pavan","Somu","Maha","Arun","Jayanth","Ooha","Laxmi"]

In [13]:
students = {"Pravalika","Pavan","Somu","Maha","Arun","Jayanth","Ooha","Laxmi"}

In [14]:
input1 = 0

In [2]:
students = ["A","B","C","D","E","F","G","H"]

# Looping / Iterations
- For Loops
- -  For each loop
- -  For loop
- While Loops

In [ ]:
# For Each loops is for iterating through iterable object
for <each element name> in <list object name>:
    <statement1>
    <statement2>
    <statement3>
<statement4>

In [4]:
for student in students:
    print(f"Teacher: What is your Name?")
    print(f"Student: My Name is {student}")

Teacher: What is your Name?
Student: My Name is A
Teacher: What is your Name?
Student: My Name is B
Teacher: What is your Name?
Student: My Name is C
Teacher: What is your Name?
Student: My Name is D
Teacher: What is your Name?
Student: My Name is E
Teacher: What is your Name?
Student: My Name is F
Teacher: What is your Name?
Student: My Name is G
Teacher: What is your Name?
Student: My Name is H

In [ ]:
# Normal For Loop is for iterations or repeatitions

In [7]:
for i in range(10):
    print("I am sorry!")

I am sorry!
I am sorry!
I am sorry!
I am sorry!
I am sorry!
I am sorry!
I am sorry!
I am sorry!
I am sorry!
I am sorry!

In [8]:
# Range (min, max)
# Range (from_index, to_position)
# range(0,10)
# no of iteration = to_position - from_index

In [11]:
for iteration in range(5,10):
    print(f"Iteration:{iteration}")

Iteration:5
Iteration:6
Iteration:7
Iteration:8
Iteration:9

In [10]:
for iteration in range(10):
    print(f"Iteration:{iteration}")

Iteration:0
Iteration:1
Iteration:2
Iteration:3
Iteration:4
Iteration:5
Iteration:6
Iteration:7
Iteration:8
Iteration:9

In [14]:
# How many number of iterations happend in the following for loop
# no of iterations = 100
# total no of iterations = (to_position-from_index)/stride

In [17]:
for iteration in range(0,10,2):
    print(f"Iteration:{iteration}")

Iteration:0
Iteration:2
Iteration:4
Iteration:6
Iteration:8

In [18]:
students

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [19]:
students.index("F")

5

In [53]:
students = ["A","B","C","D","E"]

In [26]:
ages = [25,26,15,29,30]

In [22]:
# Find an age of given student name

In [56]:
given_name = "E"

In [54]:
# Searching Problem
-- You have to exit immedietly after search success
-- Time Complexity
-- Will always be interms of input data 
-- Length of the list = n
-- If your search found at 1st place then time xomplexity will be O(1) ---> Best Case
-- If your search found at last place then time complexity will be O(n) ---> Worst Case
-- If your search found in somplace between last and first -->> O(n/2) ---> Average Case
-- Linear Search

-- Binary Search ---> Worst Case Time Complexity ==> O(logn)

SyntaxError: invalid decimal literal (2101247401.py, line 6)

In [57]:
for i in range(len(students)):
    if students[i] == given_name:
        print(f"Age of student {students[i]} is: {ages[i]}")
        break

Age of student E is: 30

# Dictionaries:
## Hashing
- - Key, Value Pairs
- - In Searching Dictionaries Time Complexity will be ---> O(1) in most of the cases
- - Mapping Function --> 1, B-2, C-3
- - A --> 25, B ---> 26, C ---> 15 , etc
- - Given input "A"
- - Output 25
- - Dictionary Keys always be either integers or strings (Immutable) except list,set
- - Dictionary values can be anything or any object

In [66]:
adhars = {}

In [67]:
type(adhars)

dict

In [68]:
user_iris = "EYSES"
user_mother = "Mothe"
user_father = "father"
user_dob = "dob"
user_address = "address"

In [69]:
TEMP_USER_ENROLLEMENT = {"iris":user_iris,
             "mother":user_mother,
             "father":user_father,
             "dob":user_dob,
             "address":user_address}

In [70]:
adhars[42387462382389] = TEMP_USER

In [58]:
students_age = {"A":25,"B":26,"C":15,"D":29,"E":30}

In [59]:
students_age["E"]

30

In [50]:
students_age.keys()

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [51]:
students_age.values()

dict_values([25, 26, 15, 29, 30])

In [48]:
students_age["E"]

30

In [ ]:
indians = {2349623897923:"This is infor about tharun",
          12364523843284:"Thus us infor aboyrt Sai"}