In [89]:
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
uber_data = pd.read_csv('My Uber Drives - 2016.csv.xls')

In [46]:
uber_data # Pandas DataFrame

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [42]:
#uber_data.drop("END_DATE*",axis=1,inplace=True)

In [48]:
uber_data.drop(1155,axis=0,inplace=True)

In [50]:
#uber_data.head(10)
uber_data.tail(10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Kar?chi,Kar?chi,2.8,Errand/Supplies
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [51]:
headings = list(uber_data.columns)

In [52]:
headings

['START_DATE*',
 'END_DATE*',
 'CATEGORY*',
 'START*',
 'STOP*',
 'MILES*',
 'PURPOSE*']

In [53]:
# 1. What is the total number of rides?
print(f"Total Number of rides are: {uber_data.shape[0]}")

Total Number of rides are: 1155

In [15]:
# 2. What are distinct places that rides happened?

In [60]:
set(uber_data['START*'])

{'Agnew',
 'Almond',
 'Apex',
 'Arabi',
 'Arlington',
 'Arlington Park at Amberly',
 'Asheville',
 'Austin',
 'Banner Elk',
 'Bellevue',
 'Berkeley',
 'Boone',
 'Briar Meadow',
 'Bryson City',
 'Burtrose',
 'CBD',
 'Capitol One',
 'Cary',
 'Central',
 'Chalmette',
 'Chapel Hill',
 'Chessington',
 'College Avenue',
 'Colombo',
 'Columbia Heights',
 'Congress Ave District',
 'Connecticut Avenue',
 'Convention Center District',
 'Cory',
 'Couples Glen',
 'Covington',
 'Coxville',
 'Daytona Beach',
 'Downtown',
 'Durham',
 'Eagan Park',
 'Eagle Rock',
 'East Austin',
 'East Elmhurst',
 'East Harlem',
 'Eastgate',
 'Edgehill Farms',
 'El Cerrito',
 'Elk Park',
 'Elmhurst',
 'Emeryville',
 'Fairmont',
 'Farmington Woods',
 'Fayetteville Street',
 'Financial District',
 'Flatiron District',
 'Florence',
 'Fort Pierce',
 'Fuquay-Varina',
 'Galveston',
 'Gampaha',
 'Georgian Acres',
 'Gulfton',
 'Hayesville',
 'Hazelwood',
 "Hell's Kitchen",
 'Heritage Pines',
 'Holly Springs',
 'Houston',
 'Hudson Square',
 'Huntington Woods',
 'Ingleside',
 'Islamabad',
 'Jackson Heights',
 'Jacksonville',
 'Jamaica',
 'Jamestown Court',
 'K Street',
 'Kalorama Triangle',
 'Kar?chi',
 'Karachi',
 'Katunayaka',
 'Katunayake',
 'Katy',
 'Kenner',
 'Kilarney Woods',
 'Kissimmee',
 'Krendle Woods',
 'Lahore',
 'Lake Reams',
 'Lake Wellingborough',
 'Lakeview',
 'Latta',
 'Lexington Park at Amberly',
 'Long Island City',
 'Lower Garden District',
 'Lower Manhattan',
 'Mandeville',
 'Marigny',
 'Mcvan',
 'Mebane',
 'Medical Centre',
 'Menlo Park',
 'Meredith',
 'Meredith Townes',
 'Metairie',
 'Midtown',
 'Midtown East',
 'Morrisville',
 'Mountain View',
 'NOMA',
 'New Orleans',
 'New York',
 'Newark',
 'Newland',
 'Noorpur Shahan',
 'North Austin',
 'North Berkeley Hills',
 'Northwoods',
 'Nugegoda',
 'Oakland',
 'Old City',
 'Orlando',
 'Palo Alto',
 'Parkway',
 'Parkwood',
 'Pontchartrain Beach',
 'Pontchartrain Shores',
 'Port Bolivar',
 'Preston',
 'R?walpindi',
 'Raleigh',
 'Rawalpindi',
 'Red River District',
 'Redmond',
 'Renaissance',
 'Ridgeland',
 'Rose Hill',
 'SOMISSPO',
 'San Francisco',
 'San Jose',
 'Sand Lake Commons',
 'Santa Clara',
 'Savon Height',
 'Seaport',
 'Seattle',
 'Sharpstown',
 'Sky Lake',
 'Soho',
 'South',
 'South Berkeley',
 'South Congress',
 'Southside',
 'St Thomas',
 'Stonewater',
 'Storyville',
 'Sugar Land',
 'Summerwinds',
 'Sunnyside',
 'Sunnyvale',
 'Tanglewood',
 'Tenderloin',
 'The Drag',
 'Topton',
 'Townes at Everett Crossing',
 'Tribeca',
 'University District',
 'Unknown Location',
 'Wake Co.',
 'Wake Forest',
 'Washington',
 'Washington Avenue',
 'Waverly Place',
 'Wayne Ridge',
 'West Berkeley',
 'West End',
 'West Palm Beach',
 'West University',
 'Weston',
 'Westpark Place',
 'Whitebridge',
 'Winston Salem'}

In [73]:
list_distinct_start_places = list(uber_data['START*'].unique())

In [75]:
len(list_distinct_start_places)

177

In [74]:
# 2. What are distinct places that rides ended?
list_distinct_end_places = list(uber_data['STOP*'].unique())

In [76]:
len(list_distinct_end_places)

188

In [79]:
# 3. What are the common places most rides will be fall under?
list_rare_places = list(set(list_distinct_end_places) - set(list_distinct_start_places))

In [80]:
len(list_rare_places)

32

In [81]:
# 4. Which starting place is taking more rides

In [82]:
uber_data['START*'].mode()

0    Cary
Name: START*, dtype: object

In [101]:
uber_data['START*'].plot.hist()

TypeError: no numeric data to plot

In [91]:
help(plt.bar)

Help on function bar in module matplotlib.pyplot:

bar(x, height, width=0.8, bottom=None, *, align='center', data=None, **kwargs)
    Make a bar plot.

    The bars are positioned at *x* with the given *align*\ment. Their
    dimensions are given by *height* and *width*. The vertical baseline
    is *bottom* (default 0).

    Many parameters can take either a single value applying to all bars
    or a sequence of values, one for each bar.

    Parameters
    ----------
    x : float or array-like
        The x coordinates of the bars. See also *align* for the
        alignment of the bars to the coordinates.

    height : float or array-like
        The height(s) of the bars.

    width : float or array-like, default: 0.8
        The width(s) of the bars.

    bottom : float or array-like, default: 0
        The y coordinate(s) of the bottom side(s) of the bars.

    align : {'center', 'edge'}, default: 'center'
        Alignment of the bars to the *x* coordinates:

        - 'center': Center the base on the *x* positions.
        - 'edge': Align the left edges of the bars with the *x* positions.

        To align the bars on the right edge pass a negative *width* and
        ``align='edge'``.

    Returns
    -------
    `.BarContainer`
        Container with all the bars and optionally errorbars.

    Other Parameters
    ----------------
    color : color or list of color, optional
        The colors of the bar faces.

    edgecolor : color or list of color, optional
        The colors of the bar edges.

    linewidth : float or array-like, optional
        Width of the bar edge(s). If 0, don't draw edges.

    tick_label : str or list of str, optional
        The tick labels of the bars.
        Default: None (Use default numeric labels.)

    label : str or list of str, optional
        A single label is attached to the resulting `.BarContainer` as a
        label for the whole dataset.
        If a list is provided, it must be the same length as *x* and
        labels the individual bars. Repeated labels are not de-duplicated
        and will cause repeated label entries, so this is best used when
        bars also differ in style (e.g., by passing a list to *color*.)

    xerr, yerr : float or array-like of shape(N,) or shape(2, N), optional
        If not *None*, add horizontal / vertical errorbars to the bar tips.
        The values are +/- sizes relative to the data:

        - scalar: symmetric +/- values for all bars
        - shape(N,): symmetric +/- values for each bar
        - shape(2, N): Separate - and + values for each bar. First row
          contains the lower errors, the second row contains the upper
          errors.
        - *None*: No errorbar. (Default)

        See :doc:`/gallery/statistics/errorbar_features` for an example on
        the usage of *xerr* and *yerr*.

    ecolor : color or list of color, default: 'black'
        The line color of the errorbars.

    capsize : float, default: :rc:`errorbar.capsize`
       The length of the error bar caps in points.

    error_kw : dict, optional
        Dictionary of keyword arguments to be passed to the
        `~.Axes.errorbar` method. Values of *ecolor* or *capsize* defined
        here take precedence over the independent keyword arguments.

    log : bool, default: False
        If *True*, set the y-axis to be log scale.

    data : indexable object, optional
        If given, all parameters also accept a string ``s``, which is
        interpreted as ``data[s]`` (unless this raises an exception).

    **kwargs : `.Rectangle` properties

    Properties:
        agg_filter: a filter function, which takes a (m, n, 3) float array and a dpi value, and returns a (m, n, 3) array and two offsets from the bottom left corner of the image
        alpha: scalar or None
        angle: unknown
        animated: bool
        antialiased or aa: bool or None
        bounds: (left, bottom, width, height)
        capstyle: `.CapStyle` or {'butt', 'projecting', 'round'}
        clip_box: `.Bbox`
        clip_on: bool
        clip_path: Patch or (Path, Transform) or None
        color: color
        edgecolor or ec: color or None
        facecolor or fc: color or None
        figure: `.Figure`
        fill: bool
        gid: str
        hatch: {'/', '\\', '|', '-', '+', 'x', 'o', 'O', '.', '*'}
        height: unknown
        in_layout: bool
        joinstyle: `.JoinStyle` or {'miter', 'round', 'bevel'}
        label: object
        linestyle or ls: {'-', '--', '-.', ':', '', (offset, on-off-seq), ...}
        linewidth or lw: float or None
        mouseover: bool
        path_effects: `.AbstractPathEffect`
        picker: None or bool or float or callable
        rasterized: bool
        sketch_params: (scale: float, length: float, randomness: float)
        snap: bool or None
        transform: `.Transform`
        url: str
        visible: bool
        width: unknown
        x: unknown
        xy: (float, float)
        y: unknown
        zorder: float

    See Also
    --------
    barh : Plot a horizontal bar plot.

    Notes
    -----
    Stacked bars can be achieved by passing individual *bottom* values per
    bar. See :doc:`/gallery/lines_bars_and_markers/bar_stacked`.